#nav-header {
	color: #fff;
	text-align: center;
	font-weight: none;
}

#own-info {
	margin-top: 10px;
}

.warning-self {
	background-color:  rgba(215, 215, 48, 0.8);
	/*0.4 adalah opacity*/
}

.danger-self {
	background-color: #ff4d4d;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 8px;
  margin-bottom: 25px;
  /*border-spacing: 0 5px;*/
   
}

thead th {
  background-color: #EAEAEA;
  color: #000;
  border: 1px solid black;
  vertical-align: middle;
  padding: 8px;
}

tbody td {
  /*background-color: #EEEEEE;*/
  border: 1px solid black;
  padding: 8px;
}

#footer-table {
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
}

