@page { 
  margin : 230px 50px ; 
  border : 1px solid black;
}

#header { 
  position          : fixed; 
  left              : 0px; 
  top               : -200px; 
  right             : 0px; 
  height            : 30px; 
  /*background-color  : orange; */
  /*text-align        : center; */
  margin-top        : 50px;
  /*width: 100%;*/
  float: none;
}

#footer { 
  position          : fixed; 
  left              : 0px; 
  bottom            : -180px; 
  right             : 0px; 
  height            : 35px; 
  margin-bottom     : 10px;
  text-align: right;
}

#content {
  margin-bottom : -80px;
}

#content p{
  text-align    : justify;
}

#footer .page:after { 
  content : counter(page, upper-number); 
}

#page-break {
  page-break-before : always;
}

#tgl-formulir {
  text-align    : right;
  margin-top    : -20px;
  margin-right  : 25px;
  margin-bottom : 25px;
}

#alamat {
  float       : left;
  width       : 100%;
  height      : 100px;
  /*border      : 1px solid black;*/
  margin-left : 150px;
  text-align  : center;
  vertical-align: middle;
}

#logo {
  float   : left;
  width   : 20%;
  height  : 100%;
  border  : 1px solid black; 
}

#paragraph {
  text-align    : justify;
  margin-left   : 25px;
  margin-right  : 25px;
}

.table-rincian {
  border-collapse : collapse;
  width           : 100%;
  padding: 5px;
}

.table-rincian tr, th, td {
  border  : 1px solid black;
  padding : 2px;
}

.table-data-darah {
  border-collapse : collapse;
  width           : 100%;
}

.table-data-darah tr, th, td {
  border    : 1px solid black;
  padding   : 1px;
  font-size : 13px;
}

#header-logo {
  float: left;
  margin-left: 120px;
}

hr {
  margin-top: 100px;
}

#rincian {
  margin-left: 100px;
  width: 250px;
}

#value-rincian {
  margin-left: 50px;
}

#ttd-pertama {
  height      : 150px;
  width       : 200px;
  margin-left : 25px;
  text-align  : center;
  float       : left;
  margin-top  : 10px;
}

#nama-petugas {
  margin-top : 110px;
}

#ttd-kedua {
  height        : 150px;
  width         : 200px;
  margin-right  : 25px;
  text-align    : center;
  float         : right;
  margin-top    : 10px;
}

#lampiran-kode {
  margin-left: 25px;
  float: left;
}

#lampiran-golongan {
  margin-left: 500px;
  float: left;
}

#paragraph-rinci {
  margin-left: 100px;
}