#nav-header {
	color: #fff;
	text-align: center;
	font-weight: none;
}

#own-info {
	margin-top: 10px;
}

.warning-self {
	background-color:  rgba(255, 214, 51, 0.4);
	/*0.4 adalah opacity*/
}

.danger-self {
	background-color: #ff4d4d;
}

.success-self {
	background-color: rgba(63, 191, 63, 0.5);
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 8px;
  margin-bottom: 25px;
  /*border-spacing: 0 5px;*/
   
}

thead th {
  background-color: #EAEAEA;
  color: #000;
  border: 1px solid black;
  vertical-align: middle;
  padding: 8px;
}

tbody td {
  /*background-color: #EEEEEE;*/
  border: 1px solid black;
  padding: 8px;
}

hr.style-one {
  border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    height: 1px;
}


